<tr class="fields item">
  <% if @type == 'Последовательность' || 'Сопоставление' %>
      <td class="number"></td>
  <% end %>
  <% if @type == 'Множественный выбор' %>
      <td>
        <%= f.check_box :correct %>
      </td>
  <% elsif @type == 'Единичный выбор' %>
      <td>
        <%= f.label :correct do %>
            <%= f.radio_button :correct, true, :class => 'radio-btn' %>
            <%= f.hidden_field :correct, as: :hidden, :class => 'radio_correct' %>
        <% end %>
      </td>
  <% end %>
      <td><%= f.text_field :text, :class => 'form-control' %></td>
      <td class="remove">
        <%= link_to_remove_fields '<i class="fa fa-times"></i>', f %>
      </td>
  <% if @type == 'Последовательность' || 'Сопоставление' %>
      <td class="sorter">
        <span class="fa fa-arrows"></span>
      </td>
      <%= f.hidden_field :serial_number, :class => 'serial_number' %>
  <% end %>
</tr>

<%# if params[:action]=='edit' && @type == ('Множественный выбор' ||'Единичный выбор')%>
    <%#= f.hidden_field :correct, as: :hidden, :class => 'radio_correct' %>
<%# end %>

