<%= simple_form_for @task, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="row">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-header">
            <h2>Задание №<%= @task.id %> : <%= @task.task_type %></h2>
            <% if params[:action] == 'edit' %>
                <h4>Кол-во баллов:  <%= f.number_field :point, :style => 'width: 50px;' %></h4>
            <% else%>
                <h4>Кол-во баллов:  <%= f.number_field :point, :style => 'width: 50px;', :value => 10 %></h4>
            <% end%>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-6">
            <% if params[:action] == 'edit' %>
                <%= f.text_area :text, :class => 'edit' %>
            <% else %>
                <%= f.text_area :text, :class => 'edit', :value => 'Lorem ipsum dolor sit amet, consectetur adipiscing elit' %>
                <%= f.hidden_field :test_id, :value => @test_id %>
                <%= f.hidden_field :task_type, :value => @type %>
            <% end %>
          </div>

          <div class="col-sm-6">
            <h3 style="margin-top: 0;">Загрузка картинки, аудио или видео:</h3>
            <table class="table table-striped task_contents_table">
              <thead>
                <th style="min-width: 280px">Название/Файл</th>
                <th>Тип</th>
                <th>Действия</th>
              </thead>
              <tbody>
            <%= f.fields_for :task_contents do |ff| %>
               <%= render 'task_content_fields', :f => ff%>
            <% end %>
              </tbody>
            </table>
            <p><%= link_to_add_fields 'Добавить контент', f, :task_contents%></p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
            <% if params[:action] == 'edit' %>>
                <h3><%= f.text_area :hint, :class => 'edit_answer' %></h3>
            <% else %>
                <h3><%= f.text_area :hint, :class => 'edit_answer', :value => '<h2>Введите правильный вариант ответа:</h2>' %></h3>
            <% end %>
          </div>
      </div>
      <div class="col-sm-12">
        <table class="table table-striped answer_table">
          <thead>
          </thead>
          <tbody>
          <% if params[:action] == 'edit' %>
              <%= f.fields_for :answers, @task.answers.order('id ASC') do |ff| %>
                  <%= render 'answer_fields', :f => ff %>
              <% end %>
          <% else %>
              <%= f.fields_for :answers do |ff| %>
                  <%= render 'answer_fields', :f => ff %>
              <% end %>
          <% end %>
          </tbody>
        </table>
        <p><%= link_to_add_fields 'Добавить вариант ответа', f, :answers %></p>
      </div>

      <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
      <%= link_to t('.back', :default => t("helpers.links.Назад")),
                  test_path(@test_id), :class => 'btn btn-default' %>
    </div>
<% end %>

<script>
    init_wysiwyg();
    init_nested_form();
</script>