<%= simple_form_for @task, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="page-header">
          <h2>Задание : <%= @type %></h2>
          <h4>Кол-во баллов:  <%= f.number_field :point, :style => 'width: 50px;', :value => 10 %></h4>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-6">
          <%= f.text_area :text, :class => 'edit', :value => 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum' %>
        </div>
        <%= f.hidden_field :test_id, :value => @test_id, :class => 'form-control' %>
        <%= f.hidden_field :task_type, :value => @type %>

        <div class="col-sm-6">
          <h3 style="margin-top: 0;">Загрузка картинки, аудио или видео:</h3>
          <%= f.fields_for :task_contents do |ff| %>
              <%= ff.file_field :file_content %>
              <%= ff.hidden_field :task_id, :value => @task.id %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12">
        <% if @type == 'Множественный выбор' %>
            <h3><%= f.text_area :hint, :class => 'edit', :value => 'Выберите правильные варианты ответа:' %></h3>
        <% elsif @type == 'Единичный выбор' %>
            <h3><%= f.text_area :hint, :class => 'edit', :value => 'Выберите правильный вариант ответа:' %></h3>
        <% else %>
            <h3><%= f.text_area :hint, :class => 'edit', :value => 'Введите правильный вариант ответа: ' %></h3>
        <% end %>
      </div>

      <div class="col-sm-12">
        <table class="table table-striped">
          <thead>
          </thead>
          <tbody>
          <%= f.fields_for :answers do |ff| %>
              <tr id='<%= ff.object_id %>'>
                <% if @type == 'Множественный выбор' %>
                    <td style="width: 20px;"><%= ff.check_box :correct %></td>
                    <td style="width: 600px;"><%= ff.text_area :text, :class => 'edit', :value => 'Введите вариант ответа' %></td>
                    <td>
                      <div id="<%= ff.object_id %>" class="btn btn-default delete_nested_form">Удалить</div>
                    </td>
                <% elsif @type == 'Единичный выбор' %>
                    <td style="width: 20px;"><%= ff.radio_button :correct, true, :class => 'radio-btn' %></td>
                    <td style="width: 600px;"><%= ff.text_area :text, :class => 'edit', :value => 'Введите вариант ответа' %></td>
                    <td>
                      <div id="<%= ff.object_id %>" class="btn btn-default delete_nested_form">Удалить</div>
                    </td>
                <% else %>
                    <td style="width: 600px;"><%= ff.text_area :text, :class => 'edit', :value => 'Введите вариант ответа' %></td>
                    <td>
                      <div id="<%= ff.object_id %>" class="btn btn-default delete_nested_form">Удалить</div>
                    </td>
                <% end %>

              </tr>
              <%#= answer_form.input :position %>
              <%= ff.hidden_field :task_id, as: :hidden, :value => @task.id %>
          <% end %>
          </tbody>
        </table>
      </div>

      <%= f.submit 'Создать Задание', class: 'btn btn-primary' %>
    </div>
<% end %>

<%#= form_for(TaskContent.new, url: task_contents_path, html: {multipart: true, class: "dropzone", style: 'height:100%;'}) do |ff| %>
<%# end %>

<script>
    init_wysiwyg();
    init_nested_form();
</script>