<%= content_for :title, "Предпросмотр задания ##{ @task.id}" %>
<div class="pageheader">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <%= link_to edit_task_path(@task), :class => 'btn btn-white back-btn pull-right' do %>
          <i class="fa fa-arrow-left"></i>
      <% end %>
      <h2>Проверка</h2>
    </div>
    <div class="col-sm-9 col-lg-10">
      <div class="breadcrumb-wrapper" style="display: inline-block;">
        <ol class="breadcrumb">
          <li class="active">
            <div class="btn-group nomargin">
                  <span class="dropdown-toggle" data-toggle="dropdown">Задание #<%= @task.id %></span>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 30px">
<div class="row question-content">
  <div class="col-sm-12">
    <% if params[:correct] == 'incorrect' %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          Ответ неверный, баллов: <%= params[:point] %>
        </div>
    <% elsif params[:correct] == 'partial_correct' %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          Ответ частично верый, баллов: <%= params[:point] %>
        </div>
    <% elsif params[:correct] == 'correct' %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          Ответ верный, баллов: <%= params[:point] %>
        </div>
    <% end %>
    <br/>
    <!--<div class="question-number">-->
      <!--Задание #<%#= @task.id %> <br/>-->
      <!--<small class="text-muted">Кол-во баллов:  <%#= @task.point %></small>-->
    <!--</div>-->
  </div>

  <div class="col-sm-12">
  <div class="row">
    <% if @task.task_contents.detect { |i| i.file_content_content_type }.nil? %>
        <div class="col-lg-12">
          <p>
            <%= sanitize @task.text.html_safe, attributes: [] %>
          </p>
        </div>
    <% else %>
        <% if @task.task_contents.count <= 1 %>
            <div class="col-lg-6">
              <div>
                <h4><%= sanitize @task.text.html_safe, attributes: [] %></h4>
              </div>
            </div>
            <div class="col-lg-6" style="text-align: center">
              <% @task.task_contents.each do |content| %>
                  <% if %w(audio application/octet-stream).include? content.file_content_content_type %>
                      <div style="margin: 0 auto;"><%= audio_tag(content.file_content.url(:original), controls: true, style: 'margin-top:0;') %></div>
                  <% elsif content.file_content_content_type =~ %r(image) %>
                      <div style="margin: 0 auto;"><%= image_tag content.file_content.url(:small), alt: content.file_content.url(:medium), style: 'margin-top:0;' %></div>
                  <% elsif content.file_content_content_type =~ %r(video) %>
                      <div style="margin: 0 auto;"><%= video_tag(content.file_content.url(:original), size: '100%x100%', controls: true, autobuffer: true, style: 'margin:0;') %></div>
                  <% else %>
                  <% end %>
              <% end %>
            </div>
        <% else %>
            <div class="col-lg-12">
              <div style="text-align: left; width: 100%; min-height: 200px;">
                <h4><%= sanitize @task.text.html_safe, attributes: [] %></h4>
              </div>
            </div>
            <div class="row">
              <% @task.task_contents.each do |content| %>
                  <div class="col-lg-4">
                    <% if %w(audio application/octet-stream).include? content.file_content_content_type %>
                        <div style=""><%= audio_tag(content.file_content.url(:original), controls: true, style: 'margin-top:0;') %></div>
                    <% elsif content.file_content_content_type =~ %r(image) %>
                        <div style=""><%= image_tag content.file_content.url(:small), alt: content.file_content.url(:medium), style: 'margin-top:0;' %></div>
                    <% elsif content.file_content_content_type =~ %r(video) %>
                        <div style=""><%= video_tag(content.file_content.url(:original), size: '100%x100%', controls: true, autobuffer: true, style: 'margin:0;') %></div>
                    <% end %>
                  </div>
              <% end %>
            </div>
        <% end %>
    <% end %>
  </div>
  </div>
  <div class="col-sm-12">
    <div class="question-description"><%= @task.hint.html_safe %></div>
  </div>
  <%= form_tag check_user_answer_task_path(@task), remote: true do %>
      <div class="col-sm-12">
        <table class="table answer_table">
          <thead>
          </thead>
          <% if %w(Сопоставление Последовательность).include? @task.task_type %>
            <tbody id="items">
          <% else %>
              <tbody>
          <% end %>
          <% if  @task.task_type == 'Открытый вопрос' %>
              <tr class="answer">
                <td style="display: none"></td>
                <td>
                  <label>
                    <%= text_field_tag 'answers', nil, :autocomplete => :off, :class => 'form-control' %>
                  </label>
                </td>
              </tr>
          <% else %>
              <% @task.answers.order('id ASC').each do |answer| %>
                  <tr class="answer">
                    <% if @task.task_type == 'Множественный выбор' %>
                        <td style="display: none;"></td>
                        <td style="width: 20px;"><%= check_box_tag "answers[#{answer.id}][]" %></td>
                        <td><%= answer.text %></td>
                    <% elsif @task.task_type == 'Единичный выбор' %>
                        <td style="display: none;"></td>
                        <td style="width: 20px;"><%= radio_button_tag "answers", answer.id %></td>
                        <td style="text-align: left"><%= answer.text %></td>
                    <% elsif @task.task_type == 'Сопоставление' %>
                        <td style="width: 50px;"></td>
                        <td>
                          <div class="pull-right select-answer">
                            <%= select_tag( "answers[#{answer.id}][]",options_for_select(['Не выбрано']) + options_from_collection_for_select(@task.associations.shuffle, 'id', 'text'), :class => 'form-control association_select') %>
                          </div>
                          <label class="text" style="text-align: left"><%= answer.text%></label>
                        </td>
                    <% elsif @task.task_type == 'Последовательность' %>
                        <td style="width: 50px;"></td>
                        <td style="text-align: left">
                          <%= answer.text %>
                          <%= hidden_field_tag "answers[#{answer.id}][]", '', :class => 'serial_number' %>
                        </td>
                    <% elsif @task.task_type == 'Открытый вопрос' %>
                        <td style="width: 50px;"></td>
                        <td style="text-align: left"><%= answer.text %></td>
                    <% end %>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
      <%= submit_tag 'Ответить', :class => 'btn btn-white' %>
      <%= link_to 'Закрыть', edit_task_path(@task), :class => 'btn btn-white' %>

  <% end %>
</div>
</div>

<script>
    row_index();
    upper_downer();
    disable_select();
</script>

<div class="modal fade" id="result-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Результат</h4>
      </div>
      <div class="modal-body">
        <h4 class="text-success" >Ответ верный, баллов: <span class="point"></span></h4>
        <h4 class="text-danger" >Ответ неверный, баллов: <span class="point"></span></h4>
        <h4 class="text-warning" >Ответ частично верый, баллов: <span class="point"></span></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>