<%= form_for @try, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rate, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rate, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :test_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :test_id, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            tries_path, :class => 'btn btn-default' %>
 
<% end %>
