<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <!-- Блок навигации по тесту с отметкой правильности выполненных тестовых заданий -->
      <div class="row">
        <div class="col-lg-12">
          <h3 class="text-center test-title"><%= @test.title %></h3>

          <div style="color: #5f5f5f; height: 22px">
            <i class="pull-left"><span class="glyphicon glyphicon-time"></span> Таймера пока нету</i>
            <i class="pull-right">Задание <%= @current_task + 1 %> из <%= @tasks_count %></i>
          </div>

          <div class="progress" title="50/150">
            <div class="progress-bar progress-bar-success"
                 role="progressbar" aria-valuenow="<%= (@current_task/@tasks_count)*100 %>" aria-valuemin="0" aria-valuemax="100"
                 style="width:<%=(@current_task.to_f/@tasks_count)*100 %>%;">
              <span class="sr-only">40% Complete (success)</span>
            </div>
          </div>


        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12 question-content">
        <div class="question-number">Задание № <%= @current_task + 1 %></div>
        <div class="row">
          <% if @sorted_task_result.task.task_contents.count <= 1 %>
              <div class="col-lg-6">
                <div>
                  <h4><%= @sorted_task_result.text %></h4>
                </div>
              </div>
              <div class="col-lg-6" style="text-align: center">
                <% @sorted_task_result.task.task_contents.each do |content| %>
                    <% if content.file_content_content_type =~ %r(audio) %>
                        <div style="margin: 0 auto;"><%= audio_tag(content.file_content.url(:original), controls: true, style: 'margin-top:0;') %></div>
                    <% elsif content.file_content_content_type =~ %r(image) %>
                        <div style="margin: 0 auto;"><%= image_tag content.file_content.url(:small), alt: content.file_content.url(:medium), style: 'margin-top:0;' %></div>
                    <% elsif content.file_content_content_type =~ %r(video) %>
                        <div style="margin: 0 auto;"><%= video_tag(content.file_content.url(:original), size: '100%x100%', controls: true, autobuffer: true, style: 'margin:0;') %></div>
                    <% else %>
                    <% end %>
                <% end %>
              </div>
          <% else %>
              <div class="col-lg-12">
                <div style="text-align: center; width: 100%; min-height: 200px;">
                  <h4><%= @sorted_task_result.text %></h4>
                </div>
              </div>
              <div class="row">
                <% @sorted_task_result.task.task_contents.each do |content| %>
                    <div class="col-lg-4">
                      <% if content.file_content_content_type =~ %r(audio) %>
                          <div style=""><%= audio_tag(content.file_content.url(:original), controls: true, style: 'margin-top:0;')%></div>
                      <% elsif content.file_content_content_type =~ %r(image) %>
                          <div style=""><%= image_tag content.file_content.url(:small), alt: content.file_content.url(:medium),style: 'margin-top:0;'%></div>
                      <% elsif content.file_content_content_type =~ %r(video) %>
                          <div style=""><%= video_tag(content.file_content.url(:original), size: '100%x100%',controls: true, autobuffer: true,style: 'margin:0;' ) %></div>
                      <% end %>
                    </div>
                <% end %>
              </div>
          <% end %>
        </div>

        <!-- Блок вариантов ответа на тестовое задание -->
        <div class="row">
          <div class="col-lg-12 answer-content">
            <div class="question-description">
              <%= @sorted_task_result.hint %>
            </div>
          </div>
        </div>


        <br>

        <div class="row">
          <div class="col-lg-12 answer-content">
            <%= form_tag({controller: 'tries', action: 'check_user_answer'}, method: 'POST') do %>
                <% if @sorted_task_result.task_type == 'Множественный выбор' %>
                    <% @sorted_task_result.user_answers.each do |answer| %>
                        <div class="answer">
                          <label>
                            <%= check_box_tag 'user_answers[]', answer.id %> <%= answer.text %>
                          </label>
                        </div>
                    <% end %>
                <% elsif @sorted_task_result.task_type == 'Единичный выбор' %>
                    <% @sorted_task_result.user_answers.each do |answer| %>
                        <div class="answer">
                          <label>
                            <%= radio_button_tag 'user_answers', answer.id %> <%= answer.text %>
                          </label>
                        </div>
                    <% end %>
                <% else %>
                    <div class="answer">
                      <label>
                        <%= text_field_tag 'user_answer', nil, :autocomplete => :off, :class => 'form-control' %>
                      </label>
                    </div>
                <% end %>
                <br>
                <%= hidden_field_tag 'task_result_id', @sorted_task_result.id %>
                <%= submit_tag('Ответить', :class => 'btn btn-primary') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>