<div class="container">
  <div class="row">
    <div class="col-lg-12 answer-content">
      <h2>Поздравляем !</h2>

      <div> вы решили <%= @percent.round(2) %>% теста (<%= @current.to_f.round(2) %> из <%= @max %> возможных баллов)</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 answer-content">
      <% i=1 %>
      <% @try.task_results.each do |task_result| %>
          <div class="row">
            <div class="col-lg-12 question-content">
              <div class="question-number">Задание №<%= i %> -
                <% if task_result.status == 'правильно' %>
                    <span class="label label-success">Правильно</span>
                <% elsif task_result.status == 'не правильно' %>
                    <span class="label label-danger">Не правильно</span>
                <% elsif task_result.status == 'частично правильно' %>
                    <span class="label label-warning">Частично правильно</span>
                <% end %>
                <div style="float: right">
                  <%= task_result.point %> <%= Russian.p(task_result.point, 'балл', 'балла', 'баллов', 'балла') %>
                </div>
              </div>
              <div class="row">
                <% if task_result.task.task_contents.detect { |i| i.file_content_content_type }.nil? %>
                    <div class="col-lg-12">
                      <p>
                        <%= task_result.text.html_safe %>
                      </p>
                    </div>
                <% else %>
                    <div class="col-lg-6">
                      <p>
                        <%= task_result.text.html_safe %>
                      </p>
                    </div>
                    <div class="col-lg-6" style="text-align: center">
                      <% task_result.task.task_contents.each do |content| %>
                          <% if content.file_content_content_type =~ %r(audio) %>
                              <div style="margin: 0 auto;"><%= audio_tag(content.file_content.url(:original), controls: true, style: 'margin-top:0;') %></div>
                          <% elsif content.file_content_content_type =~ %r(image) %>
                              <div style="margin: 0 auto;"><%= image_tag content.file_content.url(:small), alt: content.file_content.url(:medium), style: 'margin-top:0;' %></div>
                          <% elsif content.file_content_content_type =~ %r(video) %>
                              <div style="margin: 0 auto;"><%= video_tag(content.file_content.url(:original), size: '100%x100%', controls: true, autobuffer: true, style: 'margin:0;') %></div>
                          <% else %>
                          <% end %>
                      <% end %>
                    </div>
                <% end %>
              </div>
              <% if task_result.task_type =='Последовательность' %>
              <% else %>
                  <table class="table table-striped">
                    <th>Варианты:</th>
                    <% task_result.user_answers.order('RANDOM()').each do |user_answer| %>
                        <tr>
                          <td><%= user_answer.text.html_safe %></td>
                        </tr>
                    <% end %>
                  </table>
              <% end %>
              <h3>Ваш ответ:</h3>
              <table class="table">
                <% if task_result.task_type == 'Открытый вопрос' %>
                    <tr>
                      <td><%= task_result.user_answers.first.user_reply %></td>
                    </tr>
                <% elsif task_result.task_type == 'Последовательность' %>
                    <% task_result.user_answers.order('user_reply ASC').each do |user_answer| %>
                        <tr>
                          <td width="30px;"><%= user_answer.user_reply %></td>
                          <td><%= user_answer.text %></td>
                        </tr>
                    <% end %>
                <% else %>
                    <% task_result.user_answers.where(:user_reply => true).each do |reply| %>
                        <tr>
                          <td><%= reply.text.html_safe %></td>
                        </tr>
                    <% end %>
                <% end %>
              </table>
            </div>
          </div>
          <% i=i+1 %>
      <% end %>
    </div>
  </div>
</div>