<%= content_for :title, 'Результат тестирования ' + @try.test.title %>

<div class="container">
  <div class="panel panel-default ">
    <div class="panel-heading question-header">
      <h4>Вы решили <%= @percent.round(2) %>% теста (<%= @current.to_f.round(2) %> из <%= @max %>
        возможных баллов)</h4>
      <hr>
      <div class="btn btn-default btn-sm mb10" id="toggle-btn" style="margin-bottom: 10px" onclick="$('.answers').toggle()">
        <span class=" fa fa-bars"></span>
      </div>
      <table class="table table-bordered">
        <tbody>
        <% @try.task_results_queue.each_with_index do |id, index| %>
            <% task_result = @try.task_results.find_by(id: id) %>
            <% task = task_result.task_was %>
            <tr style="background-color: #FCFCFC">
              <td style="width: 30px" class="tooltips" onclick="$(this).parent().next('.answers').toggle()">
                <%= index + 1 %>
              </td>
              <td style="width: 30px" class="task-type-icon toggle-answer" onclick="$(this).parent().next('.answers').toggle()">
                <%= task_type_icon_class(task, 'div') %>
              </td>
              <td class="toggle-answer" onclick="$(this).parent().next('.answers').toggle()">
                <%= strip_tags(task.text.squish) %>
              </td>
              <td title="Статус" style="width: 120px" class="tooltips">
                <% if task_result.status == 'правильно' %>
                    <span class="label label-success">Правильно</span>
                <% elsif task_result.status == 'не правильно' %>
                    <span class="label label-danger">Не правильно</span>
                <% elsif task_result.status == 'частично правильно' %>
                    <span class="label label-warning">Частично правильно</span>
                <% end %>
              </td>
              <td title="Баллы" style="width: 120px" class="tooltips">
                <% points = task_result.point %>
                <% if (points % 1) == 0 %>
                    <%= points = points.to_i %>
                <% else %>
                    <%= points = task_result.point.round(2) %>
                <% end %>
                <%= Russian.p(points, 'балл', 'балла', 'баллов', 'балла') %>
              </td>
            </tr>
            <tr style="display: none" class="answers">
              <td style="width: 30px"></td>
              <td colspan="5" style="background-color: #ffffff">
                <% if task.task_type == 'Сопоставление' %>
                    <div class="row">
                      <div class="col-lg-6">
                        <table class="table" style="margin-bottom: 5px">
                          <tbody>
                          <% task.answers.order(:id).each do |answer| %>
                              <tr>
                                <td class="slim right_answer"></td>
                                <td><%= answer.text %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-lg-6">
                        <table class="table" style="margin-bottom: 5px">
                          <tbody>
                          <% task.associations.order(:id).each do |answer| %>
                              <tr>
                                <td class="slim right_answer"></td>
                                <td><%= answer.text %></td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                <% elsif ['Множественный выбор', 'Единичный выбор'].include?(task.task_type) %>
                    <table class="table" style="margin-bottom: 5px">
                      <tbody>
                      <% task.answers.each do |answer| %>
                          <tr>
                            <% right_answer = (answer.correct? ? 'right_answer' : '') %>
                            <td class="slim <%= right_answer %>"></td>
                            <td><%= answer.text %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>

                <% elsif task.task_type == 'Открытый вопрос' %>
                    <table class="table" style="margin-bottom: 5px">
                      <tbody>
                      <tr>
                        <td class="slim right_answer"></td>
                        <td><%= task_result.user_answers.first.user_reply %></td>
                      </tr>
                      </tbody>
                    </table>
                <% else %>
                    <table class="table" style="margin-bottom: 5px">
                      <tbody>
                      <% task.answers.each do |answer| %>
                          <tr>
                            <% right_answer = (answer.correct? || ['Последовательность'].include?(task.task_type)) ? 'right_answer' : '' %>
                            <td class="slim <%= right_answer %>"></td>
                            <td><%= answer.text %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>