<script src="http://omnipotent.net/jquery.sparkline/2.1.2/jquery.sparkline.js"></script>
<script type="text/javascript">
    $(function() {
        $('.inlinesparkline').sparkline();
        $('.sparklines').sparkline('html',
                {     type: 'pie',
                    height: '10.0em',
                    sliceColors: ['green', 'red']
                });
    });
</script>
<%
   total_count = 0
   true_count = 0
   false_count = 0

%>
<% @test.tries.each do |try| %>
    <% try.task_results.each do |tr|%>
        <%
           total_count = total_count + 1
           if tr.status == 'правильно'
             true_count = true_count + 1
           elsif tr.status == 'не правильно'
             false_count = false_count + 1
           end
        %>
    <% end%>
<% end %>

<!-- Открытие контейнера -->
<div class="container-fluid">

  <!-- Начало блока с названием теста -->
  <div class="row">
    <div class="col-lg-12">
      <hr>
      <center><h4>Общая статистика</h4></center>
      <hr>
    </div>
  </div>
  <!-- Конец блока с названием теста -->

  <!-- Начало блока с общей информацией о тесте -->
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered">
        <tr>
          <th class="cell-header-bgcolor info">Кол-во заданий в тесте:</th>
          <th class="cell-header-bgcolor info">Кол-во попыток:</th>
          <th class="cell-header-bgcolor info">Средняя оценка за тест:</th>
          <th class="cell-header-bgcolor info">Среднее время, потраченное на тест:</th>
        </tr>
        <tr>
          <td><%= @test.tasks.count %></td>
          <td><%= @test.tries.count %></td>
          <td><%= @test.tries.where(:status => 'Выполнен').any? ? (@test.tries.inject(0) { |sum, hash| sum + hash[:rate] })/@test.tries.count : 'N/A' %></td>
          <td><%= (@hours && @minutes).nil? ? 'N/A' : (@hours.to_s + ' часов ' + @minutes.to_s + ' минут') %></td>
        </tr>
      </table>
    </div>
  </div>
  <!-- Конец блока с общей информацией о тесте -->

  <!-- Начало блока с заголовком -->
  <div class="row">
    <div class="col-lg-12">
      <hr>
      <center><h4>Статистика заданий</h4></center>
      <hr>
    </div>
  </div>
  <!-- Конец блока с заголовком -->

  <% @test.tasks.each do |task| %>
      <!-- Начало блока со статистикой -->
      <div class="row">
        <!-- Начало блока с информацией о вопросе -->
        <div class="col-lg-7">
          <div class="row">
            <div class="col-lg-12">
              <table class="table table-bordered">
                <tr>
                  <td colspan="3" class="cell-header-bgcolor info">
                    <p><b>Номер задания и его формулировка:</b></p>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" class="cell-header-padding">
                    <p><%=strip_tags(task.text.squish) %></p>
                  </td>
                </tr>
                <tr>
                  <th class="cell-header-bgcolor info">
                    <p>Количество ответов:</p>
                  </th>
                  <th class="cell-header-bgcolor info">
                    <p>Правильный вариант ответа:</p>
                  </th>
                  <th class="cell-header-bgcolor info">
                    <p>Соотношение правильных и неправильных ответов:</p>
                  </th>

                </tr>
                <tr>
                  <td>
                    <p>
                      <%
                         count = 0
                         @test.tries.each do |try|
                           try.task_results.each do |task_result|
                             if task_result.task_id == task.id
                               count = count + 1
                             end
                           end
                         end
                      %>
                      <%= count %>
                    </p>
                  </td>
                  <td class="success">
                    <p>
                      <% task.answers.where(:correct => true).each do |answer|%>
                          <%= answer.text %>
                      <% end%>
                    </p>
                  </td>
                  <td>
                    <center>
                      <span class="sparklines"><%= task.task_results.where(status: 'правильно').count%>,<%= task.task_results.where(status: 'не правильно').count%></span>
                    </center>
                  </td>
                  <%%>

                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- Конец блока с информацией о вопросе -->

        <!-- Начало блока с информацией об ответе -->
        <div class="col-lg-5">
          <table class="table table-bordered">
            <tr>
              <th class="cell-header-bgcolor info">
                <p>Варианты ответа:</p>
              </th>
            </tr>
            <% task.answers.each do |answer| %>
                <tr>
                  <td width=80%>
                    <p><%= answer.text %></p>
                  </td>
                </tr>
            <% end %>
          </table>
        </div>
        <!-- Конец блока с информацией об ответе -->
      </div>
  <% end %>
  <!-- Конец блока со статистикой -->

  <!-- Начало блока с разделителем вопросов -->
  <div class="row">
    <div class="col-lg-12">
      <hr>
    </div>
  </div>
  <!-- Конец блока с разделителем вопросов -->

</div>
<!-- Закрытие контейнера -->
