 <%= simple_form_for @user, :html => {:class => 'form-horizontal'} do |f| %>
      <br/>
      <div class="row">
        <div class="col-lg-6">
          <table class="profile table-no-padding-left">
            <tr>
              <th>Фамилия</th>
              <td><%= f.text_field :last_name, :class => 'form-control' %></td>
            </tr>
            <tr>
              <th>Имя</th>
              <td><%= f.text_field :first_name, :class => 'form-control' %></td>
            </tr>
            <tr>
              <th>Отчество</th>
              <td><%= f.text_field :second_name, :class => 'form-control' %></td>
            </tr>
            <tr>
              <th style="width: 150px;">Дата рождения</th>
              <td>
                <div class='input-group date' id='birthday'>
                  <%= f.text_field :birthday, :class => 'form-control' %>
                  <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                </div>
                <%#= f.date_select(:birthday, {start_year: 1930}, {:class => 'form-control', :style => 'width:100px; display:inline-block'}) %>
              </td>
            </tr>
            <tr>
              <th>ЛПУ</th>
              <td><%= f.text_field :job, :class => 'form-control' %></td>
            </tr>
            <% if current_user.roles.first.name == 'Администратор'%>
            <tr>
              <th>Роли</th>
              <td><%= f.collection_select :roles, Role.all, :name, :name, {}, multiple: true,  :class => 'form-control chosen-select', :data => {placeholder: ' '} %></td>
              <!--<td><%#= select_tag 'roles[]', options_from_collection_for_select(Role.all, 'name', 'name'), { :class => 'form-control chosen-select', multiple: '', :data => {placeholder: ' '}}%></td>-->
            </tr>
            <% end %>
          </table>
        </div>
      </div>



      <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
  <% end %>