<%= simple_form_for @user do |f| %>
        <table class="profile table-no-padding-left">
          <tr>
            <th>Фамилия</th>
            <td><%= f.text_field :last_name, :class => 'form-control' %></td>
          </tr>
          <tr>
            <th>Имя</th>
            <td><%= f.text_field :first_name, :class => 'form-control' %></td>
          </tr>
          <tr>
            <th>Отчество</th>
            <td><%= f.text_field :second_name, :class => 'form-control' %></td>
          </tr>
          <tr>
            <th style="width: 150px;">Дата рождения</th>
            <td>
              <div class='input-group date' id='birthday'>
                <%= f.text_field :birthday, :class => 'form-control' %>
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
              </div>
              <%#= f.date_select(:birthday, {start_year: 1930}, {:class => 'form-control', :style => 'width:100px; display:inline-block'}) %>
            </td>
          </tr>
          <tr>
            <th>ЛПУ</th>
            <td><%= f.text_field :job, :class => 'form-control' %></td>
          </tr>
          <% if current_user.roles.where(name: 'Администратор').any? %>
              <tr>
                <th>Роли</th>
                <td><%= f.association :roles, label:false, :input_html => {:class => 'form-control chosen-select', placeholder: ' '} %></td>
              </tr>
          <% end %>
        </table>
    <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
<% end %>
