<%= form_for @test_mode, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="form-group">
      <div class="col-lg-3">
        <%= f.label 'Режим:', :class => 'control-label' %>
      </div>
      <div class="controls col-md-8">
        <%= f.select(:name,[['Нейтральный'],['Аттестация'],['Тренировка']],{}, { :class => 'form-control'})%>
        <%#= f.text_field :date_beg, :class => 'form-control', :id => 'date_beg' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-3">
        <%= f.label 'Дата начала:', :class => 'control-label' %>
      </div>
      <div class="controls col-md-8">
        <%= f.date_select(:date_beg, {},{:class => 'form-control', :style => 'width:100px; display:inline-block'})%>
        <%#= f.text_field :date_beg, :class => 'form-control', :id => 'date_beg' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-3">
        <%= f.label 'Дата конца:', :class => 'control-label' %>
      </div>
      <div class="controls col-md-8">
        <%= f.date_select(:date_end, {},{:class => 'form-control', :style => 'width:100px; display:inline-block'})%>
        <%#= f.text_field :date_end, :class => 'form-control', :id => 'date_end' %>
      </div>
    </div>

    <%= f.hidden_field :user_id, :class => 'form-control', value: @user.id %>

    <%= f.submit 'Создать режим', :class => 'btn btn-primary' %>
<% end %>