<% if @tests.any? %>
    <span class="text-muted">Найдено <%= @tests.length %> из <%= @count %></span>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Название:</th>
        <th>Описание:</th>
        <th>Алгоритм:</th>
        <th>Задания:</th>
        <th>Добавить:</th>
      </tr>
      </thead>
      <tbody>
      <% @tests.each do |test| %>
          <tr>
            <td><%= test.title %></td>
            <td><%= test.description %></td>
            <td><%= test.algorithm %></td>
            <td><%= test.tasks.count %></td>
            <td><%= link_to 'Добавить', add_attestation_tests_user_path(@user.id, attestation_id: test.id), :class => 'btn btn-default btn-xs' %></td>
          </tr>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="text-center text-info alert alert-info" >
      <strong>По Вашему запросу ничего не найдено.</strong>
    </div>
<% end %>