<% if @users.any? %>
    <span class="text-muted">Найдено <%= @users.length %> из <%= @count %></span>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Фамилия</th>
        <th>Код</th>
        <th style="max-width: 300px">Роли</th>
        <th>Приоритетная роль</th>
        <th>Профиль</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.second_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.drcode %></td>
            <td><%= user.roles.map{|t| t.name}.join(", ") %></td>
            <td><%= user.roles.where(id: user.priority_role_id).first.name %></td>
            <td><%= link_to 'Профиль', personal_info_user_path(user), class: 'btn btn-white btn-xs'%></td>
          </tr>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="text-center text-info alert alert-info" >
      <strong>По Вашему запросу ничего не найдено.</strong>
    </div>
<% end %>