<div class="col-sm-4">
<%= form_for @try, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.label :date, :class => 'control-label' %>
      <div class="controls">
        <%= Time.now %>
        <%= f.hidden_field :date, :value => Time.now %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :test_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :test_id,options_for_select( @tests.all.collect {|p| [p.title, p.id]}),{},{:class => 'form-control'}%>
      </div>
    </div>
    <div class="form-group">
      <%= f.hidden_field :user_id, :value => @user_id %>
    </div>


    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_path(@user_id), :class => 'btn btn-default' %>

<% end %>
</div>