<div class="question-content">
  <div class="test-case">
    <h3>Новый тестируемый:</h3>
    <%= form_for(@user, :url => url_for(:action => 'custom_create', :controller => 'users'), :html => {:class => 'form-horizontal'}) do |f| %>
        <div class="user_form">
          <div class="form-group">
            <div class="col-lg-2">
              <%= f.label 'Имя', :class => 'control-label' %>
            </div>
            <div class="controls col-lg-offset-2">
              <%= f.text_field :first_name, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2">
              <%= f.label 'Отчество', :class => 'control-label' %>
            </div>
            <div class="controls col-lg-offset-2">
              <%= f.text_field :second_name, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2 left">
              <%= f.label 'Фамиля', :class => 'control-label' %>
            </div>
            <div class="controls col-lg-offset-2">
              <%= f.text_field :last_name, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2">
              <%= f.label 'Работа', :class => 'control-label' %>
            </div>
            <div class="controls col-lg-offset-2">
              <%= f.text_field :job, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2">
              <%= f.label 'E-mail', :class => 'control-label' %>
            </div>
            <div class="controls col-lg-offset-2">
              <%= f.email_field :email, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2">
              <%= f.label 'Пароль', :class => 'control-label' %>
            </div>
            <div class="controls col-lg-offset-2">
              <%= f.password_field :password, :class => 'form-control' %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit 'Зарегистрировать пользователя', :class => 'btn btn-primary' %>
            <%= link_to t('.cancel', :default => t("helpers.links.Назад")),
                        current_user, :class => 'btn btn-default' %>
          </div>
        </div>
    <% end %>
  </div>
</div>