<%= content_for :title, 'Персональные данные' + @user.last_name + ' ' + @user.first_name + ' ' + @user.second_name %>
<div class="mainpanel">

  <div class="pageheader">
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <a class="btn btn-white back-btn pull-right" title="Назад" href="<%= (current_user.id == @user.id) ? user_path(@user) : user_path(current_user.id) %>">
          <i class="fa fa-arrow-left"></i>
        </a>

        <h3>Профиль</h3>
      </div>
      <div class="col-sm-9 col-lg-9">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="active">
              <div class="btn-group nomargin">
                <span class="dropdown-toggle" data-toggle="dropdown">Персональные данные <%= @user.last_name %> <%= @user.first_name %> <%= @user.second_name %></span>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="contentpanel ">
    <div class="row">

      <div class="col-sm-12 col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body panel-profile">
            <div class="col-lg-3" style="text-align: center">
              <%= image_tag((avatar = @avatars.order('updated_at DESC').first) ? avatar.file_content.url(:medium) : 'missing_avatar.png', size: '230x230') %>
              <% if current_user.id == @user.id %>
                  <div class="btn btn-white" style="margin-top: 10px;" data-toggle="modal" data-target="#change_avatar">
                    Поменять аватар
                  </div>
              <% end %>
            </div>
            <div class="col-lg-4">
              <table class="table table-bordered table-condensed">
                <tr>
                  <th style="width: 150px"><h4>Фамилия:</h4></th>
                  <td><h4><%= @user.last_name %></h4></td>
                </tr>
                <tr>
                  <th><h4>Имя:</h4></th>
                  <td><h4><%= @user.first_name %></h4></td>
                </tr>
                <tr>
                  <th><h4>Отчество:</h4></th>
                  <td><h4><%= @user.second_name %></h4></td>
                </tr>
                <tr>
                  <th><h4>Дата рождения:</h4></th>
                  <td><h4><%= @user.birthday %></h4></td>
                </tr>
              </table>
            </div>
            <div class="col-lg-4">
              <table class="table table-bordered table-condensed">
                <tr>
                  <th style="width: 200px"><h4>Роли:</h4></th>
                  <td><h4><%= @user.roles.map { |i| i.name }.join(', ') %></h4></td>
                </tr>
                <tr>
                  <th><h4>Приоритетная роль:</h4></th>
                  <td><h4><%= @user.roles.where(id: @user.priority_role_id).first.name %></h4></td>
                </tr>
                <tr>
                  <th><h4>Email:</h4></th>
                  <td><h4><%= @user.email %></h4></td>
                </tr>
              </table>
            </div>
            <% if current_user.id == @user.id || current_user.roles.where('name = ? or name = ?', 'Администратор', 'Супер_Администратор').any? %>
                <div class="col-lg-1">
                  <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, {controller: 'users', action: 'edit', back_url: personal_info_user_path(@user)}, :class => 'btn btn-white btn-sm tooltips', title: 'Редактировать профиль' %>
                  <div class="btn btn-white tooltips" title="Изменить Email и пароль" data-toggle="modal" data-target="#update_password">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="change_avatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="padding-top: 80px;">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <button type="button" class="close" style="margin: 15px;" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <!-- tabs -->
          <div class="tabbable">
            <ul class="nav nav-tabs" id="mytabs">
              <li class="active"><a href="#one" data-toggle="tab">Загрузка</a></li>
              <li><a href="#two" data-toggle="tab">Загруженные</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="one">
                <div class="alert alert-dismissable alert-danger" style="display: none">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <a href="#" class="alert-link">Невозможно загрузить файл с таким типом</a>
                </div>
                <%= form_for Avatar.new do |f| %>
                    <%= f.file_field(:file_content) %>
                    <%= f.hidden_field :user_id, value: @user.id %>
                    <hr/>
                    <%= f.submit 'Загрузить', class: 'btn btn-white' %>
                <% end %>
              </div>
              <div class="tab-pane" id="two">
                <%= render partial: 'avatars' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="update_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="padding-top: 80px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" style="margin: 15px;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>Смена Email и пароля</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@user, url: update_password_user_path) do |f| %>
            <div class="form-group">
              <div class="col-lg-3">
                <%= f.label 'Email', :class => 'control-label' %>
              </div>
              <div class="controls col-md-5">
                <%= f.email_field :email, :class => 'form-control', :autocomplete => :off %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-3">
                <%= f.label 'Новый пароль', :class => 'control-label' %>
              </div>
              <div class="controls col-md-5">
                <%= f.text_field :password, :class => 'form-control', :autocomplete => :off %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-3">
                <%= f.label 'Подтверждение', :class => 'control-label' %>
              </div>
              <div class="controls col-md-5">
                <%= f.text_field :password_confirmation, :class => 'form-control', :autocomplete => :off %>
              </div>
            </div>
            <%= f.submit 'Сохранить', class: 'btn btn-white' %>
        <% end %>
      </div>
    </div>
  </div>
</div>