<%- model_class = User -%>
<% if @user.roles.first.name == 'Тестируемый' %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Блок навигации по тесту с отметкой правильности выполненных тестовых заданий -->
          <div class="row">
            <div class="col-lg-12">
              <h3 class="text-center test-title">Личный кабинет</h3>
            </div>
          </div>

          <!-- Блок формулировски тестового задания -->
          <div class="row">
            <div class="col-lg-12 question-content">
              <div class="sub-menu">
                <div class="item selected" href="#attestation" aria-controls="attestation" role="tab" data-toggle="tab">
                  Аттестация
                </div>
                <div class="item" href="#practice" aria-controls="practice" role="tab" data-toggle="tab">
                  Тренировка
                </div>
                <div class="item" href="#history" aria-controls="history" role="tab" data-toggle="tab">
                  История
                </div>
              </div>
              <div class="test-case">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="attestation">
                        <div style="text-align: center">
                          <span class="title">Аттестационных тестов не найдено </span>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="practice">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Название:</th>
                            <th>Кол-во вопросов:</th>
                            <th>Время:</th>
                            <th>Действия:</th>
                          </tr>
                          </thead>
                          <tbody>

                          <% @tests.each do |test| %>
                              <tr>
                                <td><%= test.title %></td>
                                <td><%= test.tasks.count %></td>
                                <td><%= test.timer.strftime('%H:%M')%></td>
                                <% if test.tasks.count > 0%>
                                    <td><%= link_to 'Пройти тест', {:timer => test.timer ,:controller => :tries, :action => :create, :try => {:date => Time.now, :user_id => @user.id, :test_id => test.id}}, :method => 'POST', :class => 'btn btn-default' %></td>
                                <% else %>
                                    <td><h4><div class="label label-warning">Пополните задания</div></h4></td>
                                <% end%>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="history">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Название:</th>
                            <th>Дата:</th>
                            <th>Время:</th>
                            <th>Статус:</th>
                            <th>Правильность:</th>
                            <th>Оценка:</th>
                            <th>Действия:</th>
                          </tr>
                          </thead>
                          <tbody>
                          <% @tries.each do |try| %>
                              <tr>
                                <td><%= try.test.title %></td>
                                <td><%= try.date %></td>
                                <td><%= try.timer.strftime('%H:%M') %></td>
                                <td>
                                  <span class="label <%= try.status == 'Выполнен' ? 'label-success' : 'label-danger' %> "><%= try.status %></span>
                                </td>
                                <td style="text-align: center"><%= try.rate.nil? ? '' : try.rate.round().to_s + '%' %></td>
                                <td>
                                  <% if !try.rate.nil? %>
                                      <% if try.rate > 92 %>
                                          <%= 'Отлично' %>
                                      <% elsif try.rate >= 70 %>
                                          <%= 'Хорошо' %>
                                      <% elsif try.rate >= 50 %>
                                          <%= 'Удовл.' %>
                                      <% else %>
                                          <%= 'Неуд.' %>
                                      <% end %>
                                  <% end %>
                                </td>
                                <td>
                                  <% if try.status == 'Выполнен' %>
                                      <%= link_to t('.пройти', :default => t("helpers.links.посмотреть результат")),
                                                  try_result_try_path(try.id), :class => 'btn btn-default btn-md' %>
                                  <% else %>
                                      <%= link_to t('.пройти', :default => t("helpers.links.пройти тест")),
                                                  show_question_try_path(try.id), :class => 'btn btn-default btn-md' %>
                                  <% end %>
                                </td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <hr/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% elsif @user.roles.first.name == 'Методолог' %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Блок навигации по тесту с отметкой правильности выполненных тестовых заданий -->
          <div class="row">
            <div class="col-lg-12">
              <h3 class="text-center test-title">Личный кабинет</h3>
            </div>
          </div>

          <!-- Блок формулировски тестового задания -->
          <div class="row">
            <div class="col-lg-12 question-content">
              <div class="sub-menu">
                <div class="item selected" href="#create_test" aria-controls="create_test" role="tab" data-toggle="tab">
                  Создание теста
                </div>
                <div class="item" href="#tests" aria-controls="my_tests" role="tab" data-toggle="tab">
                  Тесты
                </div>
                <div class="item" href="#practice" aria-controls="practice" role="tab" data-toggle="tab">
                  Тренировка
                </div>
                <div class="item" href="#history" aria-controls="history" role="tab" data-toggle="tab">
                  История
                </div>
              </div>
              <div class="test-case">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="create_test">
                        <div class="row">
                          <div style="margin-left: 50px; margin-right: 50px;">
                            <%= render partial: 'create_test' %>
                          </div>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="practice">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Название:</th>
                            <th>Кол-во вопросов:</th>
                            <th>Время:</th>
                            <th>Действия:</th>
                          </tr>
                          </thead>
                          <tbody>

                          <% @tests.each do |test| %>
                              <tr>
                                <td><%= test.title %></td>
                                <td><%= test.tasks.count %></td>
                                <td><%= test.timer.strftime('%H:%M')%></td>
                                <% if test.tasks.count > 0%>
                                    <td><%= link_to 'Пройти тест', {:controller => :tries, :action => :create, :try => {:timer => test.timer ,:date => Time.now, :user_id => @user.id, :test_id => test.id}}, :method => 'POST', :class => 'btn btn-default' %></td>
                                <% else %>
                                    <td><h4><div class="label label-warning">Пополните задания</div></h4></td>
                                <% end%>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="history">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Название:</th>
                            <th>Дата:</th>
                            <th>Время:</th>
                            <th>Статус:</th>
                            <th>Правильность:</th>
                            <th>Оценка:</th>
                            <th>Действия:</th>
                          </tr>
                          </thead>
                          <tbody>
                          <% @tries.each do |try| %>
                              <tr>
                                <td><%= try.test.title %></td>
                                <td><%= try.date %></td>
                                <td><%= try.timer.strftime('%H:%M') %></td>
                                <td>
                                  <span class="label <%= try.status == 'Выполнен' ? 'label-success' : 'label-danger' %> "><%= try.status %></span>
                                </td>
                                <td style="text-align: center"><%= try.rate.nil? ? '' : try.rate.round().to_s + '%' %></td>
                                <td>
                                  <% if !try.rate.nil? %>
                                      <% if try.rate > 92 %>
                                          <%= 'Отлично' %>
                                      <% elsif try.rate >= 70 %>
                                          <%= 'Хорошо' %>
                                      <% elsif try.rate >= 50 %>
                                          <%= 'Удовл.' %>
                                      <% else %>
                                          <%= 'Неуд.' %>
                                      <% end %>
                                  <% end %>
                                </td>
                                <td>
                                  <% if try.status == 'Выполнен' %>
                                      <%= link_to t('.пройти', :default => t("helpers.links.посмотреть результат")),
                                                  try_result_try_path(try.id), :class => 'btn btn-default btn-md' %>
                                  <% else %>
                                      <%= link_to t('.пройти', :default => t("helpers.links.пройти тест")),
                                                  show_question_try_path(try.id), :class => 'btn btn-default btn-md' %>
                                  <% end %>
                                </td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="tests">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Название:</th>
                            <th>Описание:</th>
                            <th>Дата:</th>
                            <th>Кнопки:</th>
                          </tr>
                          </thead>
                          <tbody>
                          <% @tests.each do |test| %>
                              <tr>
                                <td><%= test.title %></td>
                                <td><%= test.description %></td>
                                <td><%= l test.created_at %></td>
                                <td>
                                  <%= link_to t('.show', :default => t("helpers.links.show")),
                                              test_path(test), :class => 'btn btn-default btn-md' %>
                                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                              edit_test_path(test), :class => 'btn btn-default btn-md' %>
                                  <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                              test_path(test),
                                              :method => :delete,
                                              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                                              :class => 'btn btn-md btn-danger' %>
                                </td>
                              </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <hr/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>


<script>
    tab_selected();
    algorithm_selects();
</script>