<%- model_class = TestGroup -%>
<div class="page-header">
    <h1>Каталог</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <% last_level = -1 %>
    <% TestGroup.root.self_and_descendants.each do |group| %>
        <% current_level = group.level %>
        <% if current_level < last_level %>
            </li>
            <% (last_level - current_level).times do %>
                </ul></li>
            <% end %>
        <% elsif current_level > last_level  %>
            <ul>
        <% else %>
            </li>
        <% end %>
        <li>
          <% if @test_group == group %>
          <b>(<%= current_level %>)<%= group.name %></b>
          <% else %>
            <%= link_to "(#{current_level})#{group.name}", group %>
          <% end %>
          <%if @test_group == group %></b><%end%>

          <% last_level = current_level %>
    <% end %>
    <% if last_level != -1%>
        </li>
    <% end %>
    <% (last_level).times do %>
        </ul></li>
    <% end %>
    <%if last_level != -1%>
        </ul>
    <% end %>
  </div>
  <div class="col-md-8">
        <h3>
            <% @test_group.ancestors.each do |parent| %>
              <%= link_to parent.name, parent %>
              &nbsp;&#47;&nbsp;
            <% end %>
            <b><%= @test_group.name %></b>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_test_group_path(@test_group), :class => 'btn btn-default' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      test_group_path(@test_group),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
        </h3>

  </div>
</div>
