<%= content_for :title, "#{@test_group.name} - Профтест" %>
<section>

  <div class="mainpanel">


    <div class="pageheader">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <h2> Каталог</h2>
        </div>
        <div class="col-sm-9 col-lg-10">
          <div class="breadcrumb-wrapper">

            <ol class="breadcrumb">
              <% @test_group.ancestors.each do |parent| %>
                  <li><%= link_to parent.name, parent %></li>
              <% end %>
              <!--<li><a href="index.html">Тесты</a></li>-->
              <li class="active">
                <div class="btn-group nomargin">
                  <span class="dropdown-toggle"  data-toggle="dropdown"><%= @test_group.name %> <span class="caret"></span></span>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'переименовать', edit_test_group_path(@test_group), remote: true %></li>
                  </ul>
                </div>
              </li>
            </ol>

          </div>
        </div>
      </div>
    </div>
    <div class="contentpanel panel-email">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <div class="btn-group nomargin">
            <button class="btn btn-primary create-btn dropdown-toggle" data-toggle="dropdown" title="Создать">
              Создать
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Папку', new_test_group_path(parent_id: @test_group.id), remote: true %></li>
              <li><%= link_to 'Тест', new_test_path(test_group_id: @test_group.id), remote: true %></li>
            </ul>
          </div>

          <h5 class="sidebartitle"></h5>
          <ul class="nav nav-pills nav-stacked nav-bracket">
            <li class="tree">
              <%= render_tree(TestGroup.root) do |item| %>
                  <%= link_to item, class: (@test_group == item ? 'active' : '') do %>
                      <% if item.children.any? %>
                          <i class="fa fa-caret-right"></i>
                      <% else %>
                          <i class="fa fa-caret-right trnsp"></i>
                      <% end %>
                      <%= item.name %>
                  <% end %>
              <% end %>
            </li>
          </ul>
          <ul class="nav nav-pills nav-stacked nav-email mb20">
            <li><a href="#"><i class="fa fa-trash"></i> Корзина</a></li>
          </ul>

        </div>
        <div class="col-sm-9 col-lg-10">

          <div class="panel panel-default list-panel">
            <div class="panel-body">
              <div class="btn-group mr10">
                <div class="btn-group nomargin">
                  <button id="toggle-checkboxes" class="btn btn-white tooltips" type="button" >
                    <div class="ckbox ckbox-default">
                      <input type="checkbox" id="checkbox0">
                      <label for="checkbox0"></label>
                    </div>
                  </button>

                  <button onclick="bulkMoveFormOpen();" class="btn btn-white tooltips" type="button" title="Переместить">
                    <i class="fa fa-folder"></i>
                  </button>
                  <button onclick="bulkDestroy();" class="btn btn-white tooltips" type="button" data-toggle="tooltip" title="Удалить">
                    <i class="fa fa-trash"></i>
                  </button>
                  <%= form_tag bulk_move_test_group_path(@test_group), id: 'bulk_move_form', method: 'get', remote: true do %>
                      <%= hidden_field_tag 'test_ids' %>
                      <%= hidden_field_tag 'test_group_ids' %>
                  <% end %>
                  <%= form_tag bulk_destroy_test_group_path(@test_group), id: 'bulk_destroy_form', remote: false do %>
                      <%= hidden_field_tag 'test_ids' %>
                      <%= hidden_field_tag 'test_group_ids' %>
                  <% end %>
                </div>
                <div class="btn-group mr10">
                  <button class="btn btn-white tooltips dropdown-toggle" data-toggle="dropdown" type="button" title="Другое">
                    <i class="fa fa-ellipsis-v"></i>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" onclick="editElement();">Переименовать</a></li>
                  </ul>
                </div>
              </div>

              <div class="pull-right">
                <span class="mr10 italic text-muted">
                  <%= [@elements.per_page * (@elements.current_page-1) + 1, @elements.total_entries].min %>
                  - <%= [@elements.per_page * (@elements.current_page), @elements.total_entries].min %>
                  из <%=@elements.total_entries %>
                </span>
                <div class="btn-group mr10">
                  <%= will_paginate @elements,
                                    renderer: BootstrapPagination::Rails,
                                    :page_links => false,
                                    next_label: '<i class="fa fa-chevron-right"></i>',
                                    previous_label: '<i class="fa fa-chevron-left"></i>' %>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-email tests">
                  <tbody>
                  <% @elements.each_with_index do |element, index| %>
                  <tr class="unread" data-class="<%=element.class%>" data-id="<%= element.id %>">
                    <td>
                      <div class="ckbox ckbox-default">
                        <%= check_box_tag 'check', 1, false, class: 'element_checkbox', id: "cb_#{index}" %>
                        <label for="<%= "cb_#{index}" %>"></label>
                      </div>
                    </td>
                    <td>
                       <i class="fa <%= element.is_a?(TestGroup) ? 'fa-folder'  : 'fa-file-o' %>"></i>
                    </td>
                    <td>
                      <div class="media">
                        <div class="media-body">
                          <span class="media-meta pull-right"><%= element.created_at %></span>
                          <h4>
                            <% if element.is_a?(TestGroup)%>
                                <%= link_to element.name, test_group_path(element) %>
                            <% elsif element.is_a?(Test) %>
                                <%= link_to element.title, test_path(element) %>
                            <% end %>
                          </h4>
                        </div>
                      </div>
                      <div class="hide">
                      <% if element.is_a?(TestGroup)%>
                          <%= link_to 'переименовать', edit_test_group_path(element, current_test_group_id: @test_group.id), remote: true, class: 'element-edit-link' %>
                      <% elsif element.is_a?(Test) %>
                          <%= link_to 'переименовать', edit_test_path(element, current_test_group_id: @test_group.id), remote: true, class: 'element-edit-link' %>
                      <% end %>
                      </div>
                    </td>
                  </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <!-- table-responsive -->
            </div>
            <!-- panel-body -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="new-form">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- modals -->
<div class="modal fade" id="move">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Переместить</h4>
      </div>
      <div class="modal-body">
        <p>1 папку, 5 тестов в папку </p>
        <ul class="nav nav-pills nav-stacked nav-bracket">
          <li class="tree" style="margin-left: -10px">
            <ul class="children" style="display: block">
              <li><a href="general-forms.html"><i class="fa fa-caret-down"></i> Тесты</a>

                <ul class="children" style="display: block">
                  <li><a href="general-forms.html"><i class="fa fa-caret-down"></i>Фармацевтика</a>
                    <ul class="children" style="display: block">
                      <li><a href="general-forms.html"><i class="fa fa-caret-right trnsp"></i>Фармацевтическая технология</a></li>
                      <li><a href="form-layouts.html"><i class="fa fa-caret-right"></i>Фармацевтическая химия</a></li>
                      <li><a href="form-validation.html"><i class="fa fa-caret-right"></i>Управление и экономика</a></li>
                    </ul>
                  </li>
                  <li><a href="form-layouts.html" class="active"><i class="fa fa-caret-right"></i></i> Педиатрия</a></li>
                  <li><a href="form-validation.html"><i class="fa fa-caret-right trnsp"></i> ВИЧ</a></li>
                  <li><a href="form-validation.html"><i class="fa fa-caret-right trnsp"></i> Судебно-медицинская экспертиза</a></li>
                  <li><a href="form-wizards.html"><i class="fa fa-caret-down"></i>Стоматология</a>
                    <ul class="children" style="display: block">
                      <li><a href="general-forms.html"><i class="fa fa-caret-right"></i>ЧЛХ</a></li>
                      <li><a href="form-layouts.html"><i class="fa fa-caret-right"></i>Терапевтическая стоматология</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary">Переместить</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--end modal-->

<script type="text/javascript">
    function getSelectedIds() {
        var checked_checkboxes = $('.element_checkbox:checked');
        var trs = checked_checkboxes.closest('tr');
        var test_ids = [];
        var test_group_ids = [];

        trs.each(function( index, element ){
            cls = $(element).attr('data-class');
            id = $(element).attr('data-id');
            if (cls == "Test"){
                test_ids.push(id);
            }
            else if (cls == "TestGroup") {
                test_group_ids.push(id);
            }
        });
        return {'test_ids': test_ids, 'test_group_ids': test_group_ids }
    }

    function bulkDestroy() {
        var answer = confirm('Вы уверены?');
        if (answer) {
            var json = getSelectedIds();
            var test_ids = json['test_ids'];
            var test_group_ids = json['test_group_ids'];
            var form = $('#bulk_destroy_form');
            form.children("[name='test_ids']").val(test_ids.join());
            form.children("[name='test_group_ids']").val(test_group_ids.join());
            form.submit();
        }
    }

    function bulkMoveFormOpen() {
        var json = getSelectedIds();
        var test_ids = json['test_ids'];
        var test_group_ids = json['test_group_ids'];
        var form = $('#bulk_move_form');
        form.children("[name='test_ids']").val(test_ids.join());
        form.children("[name='test_group_ids']").val(test_group_ids.join());
        form.submit();
    }

    function editElement() {
        $('.element_checkbox:checked').first().closest('tr').find('.element-edit-link').first().click();
    }

    function selectDestinationGroup(selected) {
        //return 5;
        //console.log('dfgdfg');
        //return 6;
        var form = $(selected).closest('form');
        form.find('.label-info').removeClass('label-info');
        $(selected).addClass('label-info');
        form.find("[name='destination_group_id']").val($(selected).attr('data-id'));
        //var checked_checkboxes = $('.element_checkbox:checked');
        //var trs = checked_checkboxes.closest('tr');
        //var test_ids = [];
        //var test_group_ids = [];
    }
</script>