<p id="notice"><%= notice %></p>

<h1>Listing Assigned Tests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assigned_tests.each do |assigned_test| %>
      <tr>
        <td><%= link_to 'Show', assigned_test %></td>
        <td><%= link_to 'Edit', edit_assigned_test_path(assigned_test) %></td>
        <td><%= link_to 'Destroy', assigned_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assigned test', new_assigned_test_path %>
