<p id="notice"><%= notice %></p>
<table class="table">
<tr>
  <td><%= @assigned_test.user_id%></td>
  <td><%= @assigned_test.user_id%></td>
  <td><%= @assigned_test.user_id%></td>
</tr>
</table>
<%= link_to 'Edit', edit_assigned_test_path(@assigned_test) %> |
<%= link_to 'Back', assigned_tests_path %>
