<%= form_for @task_result, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :point, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :point, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :text, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :task_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :task_id, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :try_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :try_id, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            task_results_path, :class => 'btn btn-default' %>
 
<% end %>
