<%- model_class = Test -%>
<div class="page-header">
  <h2>Тест</h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @test.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @test.description %></dd>
</dl>


<div class="page-header">
  <h2>Задания</h2>
</div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>id</th>
      <th>text</th>
      <th>task_type</th>
      <th>point</th>
      <th style="min-width: 205px;"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
    </thead>
    <tbody>
    <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.id, task_path(task) %></td>
          <td><%= task.text.html_safe %></td>
          <td><%= task.task_type %></td>
          <td><%= task.point %></td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        task_path(task), :class => 'btn btn-default btn-md' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_task_path(task), :class => 'btn btn-default btn-md' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        task_path(task),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-md btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
  Добавить задание
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Выберите тип задания:</h4>
      </div>
        <%= render partial: 'task_form' %>
    </div>
  </div>
</div>
