<%= content_for :title, "#{@test.title} - Профтест" %>
<section>
  <div class="mainpanel">

    <div class="pageheader">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <%= link_to test_group_path(@test.test_group), class: 'btn btn-white back-btn pull-right', title: 'Назад' do %>
            <i class="fa fa-arrow-left"></i>
          <% end %>
          <h2> Тест</h2>
        </div>
        <div class="col-sm-9 col-lg-10">
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <% if @selected_section %>
                  <li><%= link_to @test.title, @test %></li>
              <% end %>
              <li class="active">
                <div class="btn-group nomargin">
                 <% element = @selected_section ? @selected_section : @test %>
                 <% element = @trash ? Struct.new(:title).new('Корзина') : element %>
                  <span class="dropdown-toggle"  data-toggle="dropdown"><%= element.title %>
                    <% if !@trash %>
                        <span class="caret"></span>
                    <% end %>
                  </span>
                  <ul class="dropdown-menu right">
                    <li>
                      <% if element.is_a?(Test) %>
                        <%= link_to 'Переименовать', edit_test_path(@test), remote: true %>
                        <a href="#">Удалить</a>
                      <% elsif element.is_a?(Section)  %>
                        <%= link_to 'Переименовать', edit_section_path(@selected_section), remote: true %>
                        <a href="#">Удалить</a>
                      <% else %>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="contentpanel panel-email">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <div class="btn-group nomargin">
            <button class="btn btn-primary create-btn dropdown-toggle" data-toggle="dropdown" title="Создать">
              Создать
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" data-toggle="modal" data-target="#createTask"> Задание</a></li>
              <li><%= link_to 'Раздел', new_section_path(test_id: @test.id), remote: true %></li>
            </ul>

          </div>

          <ul class="nav nav-pills nav-stacked nav-email mb20">
            <li>
                <%= link_to test_path(@test, selected_section_id: nil), class: (@selected_section.nil? ? 'active' : '') do %>
                    <i class="fa fa-list-alt"></i> Задания
                <% end %>
            </li>

            <li>
                <%= link_to trash_test_path(@test), class: () do %>
                    <i class="fa fa-trash-o"></i> Корзина
                <% end %>
            </li>
            <li>
              <%= link_to settings_test_path(@test), remote: true do %>
                  <i class="fa fa-cog"></i> Настройки
              <% end %>
            </li>
          </ul>

          <h5 class="sidebartitle">Разделы</h5>
          <ul class="nav nav-pills nav-stacked nav-bracket">
            <li class="tree">
              <ul class="children" style="display: block">
                <% @test.sections.order(:id).each do |section|%>
                <li>
                    <%= link_to test_path(@test, selected_section_id: section.id), class: (@selected_section == section ? 'active' : '') do %>
                        <i class="fa fa-caret-down trnsp"></i><%= section.name %>
                    <% end %>
                </li>
                <% end %>
              </ul>
            </li>
          </ul>

        </div>
        <div class="col-sm-9 col-lg-10">

          <div class="panel panel-default">
            <div class="panel-body task-panel">

              <div class="btn-group mr10 ml5">
                <div class="btn-group ">
                  <button id="toggle-checkboxes" class="btn btn-white tooltips" type="button" title="Выбрать">
                    <div class="ckbox ckbox-default">
                      <input type="checkbox" id="checkbox0">
                      <label for="checkbox0"></label>
                    </div>
                  </button>
                  <button onclick="bulkMoveFormOpen();" id="move-btn" class="btn btn-white tooltips disabled" type="button" title="Переместить">
                    <% if @trash %>
                        <i class="fa fa-repeat"></i>
                    <% else %>
                        <i class="fa fa-folder"></i>
                    <% end %>
                  </button>
                </div>

                <button onclick="bulkDestroy();" id="remove-btn"  class="btn btn-white tooltips disabled" type="button" data-toggle="tooltip" title="Удалить">
                    <% if @trash %>
                      <i class="fa fa-remove"></i>
                    <% else %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                </button>

                <div class="btn-group ">
                  <button class="btn btn-white tooltips dropdown-toggle" data-toggle="dropdown" type="button" title="" data-original-title="Другое">
                    <i class="fa fa-ellipsis-v"></i>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Объединить в цепочку</a></li>
                  </ul>

                </div>
              </div>

              <div class="btn-group labels mr10">
                <div class="btn-group">
                  <button data-toggle="dropdown" class="btn btn-white dropdown-toggle tooltips" type="button" title="Эквивалентные группы">
                    <span class="label label-info"><strong>g</strong></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <% @eqvgroups.each do |eq|%>
                    <li><a href="#" onclick="bulkChangeEqvgroup('<%=eq.id %>');"><span class="label label-info"><strong><%= eq.number %></strong></span></a></li>
                    <% end %>
                    <li><%= link_to 'Добавить', eqvgroups_path(eqvgroup:{test_id: @test.id, section_id: @selected_section}), method: 'post' %></li>
                  </ul>
                </div>
                <%= form_tag bulk_move_tasks_path, id: 'bulk_move_form', method: 'get', remote: true do %>
                    <%= hidden_field_tag 'trash', @trash %>
                    <%= hidden_field_tag 'test_id', @test.id %>
                    <%= hidden_field_tag 'task_ids' %>
                <% end %>
                <%= form_tag bulk_destroy_tasks_path, id: 'bulk_destroy_form', remote: false do %>
                    <%= hidden_field_tag 'trash', @trash %>
                    <%= hidden_field_tag 'test_id', @test.id %>
                    <%= hidden_field_tag 'task_ids' %>
                <% end %>
                <%= form_tag bulk_change_eqvgroup_tasks_path, id: 'bulk_change_eqvgroup_form', remote: false do %>
                    <%= hidden_field_tag 'test_id', @test.id %>
                    <%= hidden_field_tag 'task_ids' %>
                    <%= hidden_field_tag 'eqvgroup_id' %>
                <% end %>
              </div>

              <div class="pull-right">
                <span class="mr10 italic text-muted">
                  <%= [@tasks.per_page * (@tasks.current_page-1) + 1, @tasks.total_entries].min %>
                  - <%= [@tasks.per_page * (@tasks.current_page), @tasks.total_entries].min %>
                  из <%=@tasks.total_entries %>                
                </span>
                <div class="btn-group mr10">
                  <% wp = will_paginate @tasks, renderer: BootstrapPagination::Rails, :page_links => false,
                                    next_label: '<i class="fa fa-chevron-right"></i>',
                                    previous_label: '<i class="fa fa-chevron-left"></i>'  %>
                  <% if wp %>
                        <%= wp %>
                  <% else %>
                      <ul class="pagination pagination">
                        <li class="prev disabled">
                          <span><i class="fa fa-chevron-left"></i></span>
                        </li>
                        <li class="next disabled">
                          <span><i class="fa fa-chevron-right "></i></span>
                        </li>
                      </ul>
                  <% end %>
                </div>
              </div>
              <!-- pull-right -->


              <div class="table-responsive">
                <table class="table table-email tasks table-hover">
                  <tbody>
                  <% @tasks.each_with_index do |task, index| %>
                      <tr class="unread" data-id="<%= task.id %>">
                        <td></td>
                        <td>
                          <div class="ckbox ckbox-default">
                            <%= check_box_tag 'check', 1, false, class: 'element_checkbox', id: "cb_#{index}" %>
                            <label for="<%= "cb_#{index}" %>"></label>
                          </div>
                        </td>
                        <td>
                            <% if !@trash %>
                            <span class="label label-info"><strong><%= task.eqvgroup.number %></strong></span>
                            <% end %>
                        </td>
                        <td style="width: 30px; font-size: 20px; line-height: 20px; padding: 0">
                          <% if task.task_type == 'Единичный выбор' %>
                              <span class="icon-single tooltips" title="Единичный выбор"></span>
                          <% elsif task.task_type == 'Множественный выбор' %>
                              <span class="icon-mutli tooltips" title="Множественный выбор"></span>
                          <% elsif task.task_type == 'Последовательность' %>
                              <span class="icon-sequence tooltips" title="Последовательность"></span>
                          <% elsif task.task_type == 'Сопоставление' %>
                              <span class="icon-connect tooltips" title="Сопоставление"></span>
                          <% elsif task.task_type == 'Открытый вопрос' %>
                              <span class="icon-open tooltips" title="Открытый вопрос"></span>
                          <% end %>
                        </td>
                        <td class="link">
                          <%= link_to edit_task_path(task) do%>
                          <div class="media">
                            <div class="media-body">
                              <% if Date.today.day == task.created_at.day %>
                                  <span class="media-meta pull-right"><%= task.created_at.strftime('%H:%M') %></span>
                              <% elsif Date.today.year == task.created_at.year %>
                                  <span class="media-meta pull-right"><%= Russian::strftime(task.created_at, "%d %b") %></span>
                              <% else %>
                                  <span class="media-meta pull-right"><%= task.created_at.strftime('%d.%m.%Y') %></span>
                              <% end %>
                              <span class="media-meta pull-right mr20"> <%= task.section.name if task.section %></span>
                              <h4> <%= strip_tags(task.text) %></h4>
                            </div>
                          </div>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <!-- table-responsive -->
            </div>
            <!-- panel-body -->
          </div>
          <!-- panel -->
        </div>
        <!-- col-sm-9 -->
      </div>
      <!-- row -->
    </div>
  </div>
  <!-- mainpanel -->
</section>

<!-- Modal -->
<div class="modal fade" id="createTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Выберите тип задания:</h4>
      </div>
      <%= render partial: 'task_form' %>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="new-form">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    function getSelectedIds() {
        var checked_checkboxes = $('.element_checkbox:checked');
        var trs = checked_checkboxes.closest('tr');
        var ids = [];
        trs.each(function( index, element ){
            id = $(element).attr('data-id');
            ids.push(id);
        });
        return ids;
    }

    function bulkDestroy() {
        var answer = confirm('Вы уверены?');
        if (answer) {
            var ids = getSelectedIds();
            var form = $('#bulk_destroy_form');
            form.children("[name='task_ids']").val(ids.join());
            form.submit();
        }
    }

    function bulkMoveFormOpen() {
        var ids = getSelectedIds();
        var form = $('#bulk_move_form');
        form.children("[name='task_ids']").val(ids.join());
        form.submit();
    }

    function selectDestinationGroup(selected) {
        var form = $(selected).closest('form');
        form.find('.active').removeClass('active');
        $(selected).addClass('active');
        form.find("[name='destination_section_id']").val($(selected).attr('data-id'));
    }

    function bulkChangeEqvgroup(eqvgroup_id) {
        var ids = getSelectedIds();
        var form = $('#bulk_change_eqvgroup_form');
        form.children("[name='task_ids']").val(ids.join());
        form.children("[name='eqvgroup_id']").val(eqvgroup_id);
        form.submit();
    }

</script>
